In [1]:
# Dependencies
import pandas as pd

In [2]:
# Create a Pandas Series from the following list of schools.
bootcamp_univ = ["UCLA", "UC Berkeley", "UC Irvine",
                 "University of Central Florida", "Rutgers University"]

# Option 1. 
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"])
print(data_series)

#  Option 2. 
data_series_2 = pd.Series(bootcamp_univ)

print(data_series_2)

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object
0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [3]:
# Convert the following list of dictionaries into a DataFrame.
movies_dicts = [{"Title": "The Godfather", "Year Released": 1972},
                {"Title": "The Shawshank Red emption", "Year Released": 1994},
                {"Title": "Pulp Fiction", "Year Released": 1994},
                {"Title": "The Lord of the Rings: The Return of the King", "Year Released": 2003}]

movie_df = pd.DataFrame(movies_dicts)
movie_df

                                           Title  Year Released
0                                  The Godfather           1972
1                      The Shawshank Red emption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [4]:
# Edit the movie_dicts so that the the values for the "Title" and "Year Released" are list of movie titles and years.
#  Then, convert the dictionary of lists into a DataFrame. 

movies_dicts = {"Title": ["The Godfather", "The Shawshank Redemption","Pulp Fiction",
                           "The Lord of the Rings: The Return of the King"], 
                "Year Released": [1972, 1994, 1994, 2003]}

movie_df = pd.DataFrame(movies_dicts)
movie_df

                                           Title  Year Released
0                                  The Godfather           1972
1                       The Shawshank Redemption           1994
2                                   Pulp Fiction           1994
3  The Lord of the Rings: The Return of the King           2003

In [5]:
# Create a DataFrame using a dictionary of lists
frame_df = pd.DataFrame({
    "Frame": ["Ornate", "Classical", "Modern", "Wood", "Cardboard"],
    "Price": [15.00, 12.50, 10.00, 5.00, 1.00],
    "Sales": [100, 200, 150, 300, "N/A"]
})
frame_df

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   N/A